error{
    color: red;
}
login button{
    border: 1px solid;
}
login input{
    font-size: 2em;
}
div{
    padding: 20px;
}
login button{
    font-size: 2em;
}
.chat_content{
    font-size: 1.8em;
}
.chat_info{
    color: gray;
}
.chat_input{
    font-size: 2em;
}
#autoscroll{
    max-height: 600px;
    overflow-y: scroll;
}